:root {
    --mono: #e08e88;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* border: 1px solid red; */
    scroll-behavior: smooth;
}

body {
    transition: all 2s ease-in-out;
}

.mono {
    font-family: monospace;
}

header {
    background-color: white;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 3;
}

.skill-slider {
    width: 100%;
    padding: 20px 2px;
    overflow-x: hidden;
}

.slider-main {
    width: 4000px;
    display: flex;
    position: relative;
    animation: slide 10s infinite alternate;
    margin-left: -2000px;
    -webkit-animation: slide 10s infinite alternate;
}

.slide p {
    padding: 20px;
    text-shadow: -1px 2px 12px rgba(0, 0, 0, 0.75);
}

footer>a {
    color: black;
}

.slide {
    width: 200px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    background-color: white;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.slide>i {
    font-size: 150px;
    text-shadow: -1px 2px 12px rgba(25, 0, 252, 0.75);
}

@keyframes slide {
    from {
        margin-left: -1000px;
    }

    to {
        margin-left: 0px;
    }
}

.hero {
    height: 100%;
}



h1{
  font-weight: 200;
}
.container span{
    color: red; 
    font-family: monospace;
    font-weight: bolder;
}
.container span::after{
    content: '|';
    animation-name: blinking; 
    animation-duration: .71s; 
    animation-iteration-count: infinite;
}
@keyframes blinking{
    from{
        color: transparent; 
    }
    to{
        color: red; 
    }
}