@import "tailwindcss";

/* Hide cursor only on large screens (lg and above) */
@media (min-width: 1024px) {
  * {
    cursor: none;
  }
}


/* Glitch effect */
.glitch {
  position: relative;
  color: black;
  font-weight: 800;
}
.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
.glitch::before {
  animation: glitchTop 1s infinite linear alternate-reverse;
  color: #ff00c8;
  z-index: 1;
}
.glitch::after {
  animation: glitchBottom 1s infinite linear alternate-reverse;
  color: #00fff9;
  z-index: 2;
}

/* Loader glow animation on progress bar */
@keyframes loaderGlow {
  0% { left: 0; opacity: 0.5; }
  50% { left: 50%; opacity: 0.9; }
  100% { left: 100%; opacity: 0; }
}
.animate-loaderGlow {
  animation: loaderGlow 2s linear infinite;
}

/* Fade in for loader */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.animate-fadeIn {
  animation: fadeIn 0.5s ease forwards;
}
